#output {
  display: none;
}

h3 {
  margin: 20px;
  text-align: center;
}

.form-check-inline {
  margin-left: 150px;
  margin-right: 10px;
  padding-left: 5px;

}
 button {
   margin-top: 50px;
   margin-left: 250px;
 }

 img {
   height: 15%;
   width: 15%;

 }
