#output {
  display: none;
}

h3 {
  margin: 20px;
  text-align: center;
}

.form-check-label {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;

}
 button {
   margin-top: 50px;
   margin-left: 250px;
 }

input {
   margin: 0px;
 }
