#output {
  display: none;
}

h3 {
  margin: 20px;
  text-align: center;
}

.form-check-inline {
  margin-left: 150px;
  margin-right: 10px;
  padding-left: 5px;

}
 .btn {
   margin-top: 50px;
   margin-left: 439px;

 }

 img {
   height: 10%;
   width: 10%;

   margin-left: 10px;


 }

 h4{
   text-align: center;
   border:
 }

 h1 {
   text-align: center;
   text-decoration: underline;
   text-shadow: 50%;
 }

 .jumbotron {
   background-color: rgb(54,69,59, 0.6);
   color: #F5F9E9;
   background
 }

 body {
   background-color: #C2C1A5;
 }
 label{
   border: 3px solid #596869;
   padding: 10px;

 }
 label:hover {
   background-color: #D1B1C8;
 }

 #output {
   border: 5px ridge #B1B7D1;
   border-radius: 50%;
   margin-top: 5%;
   margin-bottom: 7%;
   padding: 10px;
  }

  #nameInput {
    display: block;
  }
